<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<meta name="description" content="Тестовый дескриптор">
	<link rel="stylesheet" href="css/inline.css">
	
</head>
<body>
	<div class="global__wrapper">
		<!-- ================================================== -->
		<!-- ===================== header ===================== -->
		<!-- ================================================== -->
		<section class="header">
			<div class="container">
				<div class="header__content">
					<a href="/" class="header__logo" aria-label="Valensia">
						<img style="aspect-ratio: 5 / 2;" src="img/logo.png" alt="">
					</a>
					<div class="header__loc">
						<div class="header__loc__icon" style="background-image: url(img/loc.svg);"></div>
						<div class="header__loc__text">
							<div class="header__loc__title">ул.Карбышева, 70</div>
							<div class="header__loc__desc">от 10 до 90 чел.</div>
							<a href="/" class="header__loc__link">посмотреть зал</a>
						</div>
					</div>
					<div class="header__loc">
						<div class="header__loc__icon" style="background-image: url(img/loc.svg);"></div>
						<div class="header__loc__text">
							<div class="header__loc__title">ул.Адоратского, 39д</div>
							<div class="header__loc__desc">от 10 до 180 чел.</div>
							<a href="/" class="header__loc__link">посмотреть зал</a>
						</div>
					</div>
					<div class="header__loc">
						<div class="header__loc__icon" style="background-image: url(img/loc.svg);"></div>
						<div class="header__loc__text">
							<div class="header__loc__title">ул.Габишева, 38</div>
							<div class="header__loc__desc">от 10 до 200 чел.</div>
							<a href="/" class="header__loc__link">посмотреть зал</a>
						</div>
					</div>
					<div class="header__phones">
						<div class="header__phones__label">Телефоны:</div>
						<a href="tel:+7 (843) 246-48-28" class="header__phones__phone big">+7 (843) 246-48-28</a>
						<a href="tel:+7 (917) 882-88-28" class="header__phones__phone">+7 (917) 882-88-28</a>
					</div>
					<div class="header__btn">
						<button class="btn">Написать нам WhatsApp</button>
					</div>
					<div class="header__hamburger" data-mobile-menu-show></div>
				</div>
			</div>
		</section>
		<!-- ================================================== -->
		<!-- ===================== END header ===================== -->
		<!-- ================================================== -->


		<!-- ================================================== -->
		<!-- ===================== navbar ===================== -->
		<!-- ================================================== -->
		<section class="navbar">
			<div class="container">
				<div class="navbar__content">
					<ul class="navbar__links">
						<li class="navbar__link">
							<a href="/">Главная</a>
						</li>
						<li class="navbar__link">
							<a href="/">О нас</a>
						</li>
						<li class="navbar__link">
							<a href="/">
								Меропрития
								<img style="aspect-ratio: 7 / 5;" src="img/nav__arrow.svg" alt="">
							</a>
							<ul class="navbar__links__submenu">
								<li><a href="/">Меропрития первое</a></li>
								<li><a href="/">Меропрития второй</a></li>
								<li><a href="/">Меропрития третье</a></li>
								<li><a href="/">Меропрития четвёртое</a></li>
							</ul>
						</li>
						<li class="navbar__link">
							<a href="/">Наши залы</a>
						</li>
						<li class="navbar__link">
							<a href="/">Меню</a>
						</li>
						<li class="navbar__link">
							<a href="/">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- ================================================== -->
		<!-- ===================== navbar ===================== -->
		<!-- ================================================== -->
		
		{% block content %}
			
		{% endblock %}

		<!-- ================================================== -->
		<!-- ===================== footer ===================== -->
		<!-- ================================================== -->
		<section class="footer">
			<div class="container">
				<div class="footer__top">
					<a href="/" class="footer__logo" aria-label="Valensia">
						<img style="aspect-ratio: 5 / 2;" src="img/logo__white.png" alt="">
					</a>
					<div class="footer__menu">
						<div class="footer__title">Наши услуги</div>
						<ul class="footer__menu__links">
							<li><a href="/">Свадьбы</a></li>
							<li><a href="/">Юбилеи</a></li>
							<li><a href="/">Выпускные вечера</a></li>
							<li><a href="/">Корпоративы</a></li>
							<li><a href="/">Детские выпускные</a></li>
							<li><a href="/">Выездная регистрация брака</a></li>
							<li><a href="/">Детские праздники</a></li>
							<li><a href="/">Кейтиринг</a></li>
							<li><a href="/">Конференц услуги</a></li>
							<li><a href="/">Организация мероприятий от Адо Я</a></li>
						</ul>
					</div>
					<div class="footer__locs">
						<div class="footer__title">Где мы находимся</div>
						<div class="footer__locs__items">
							<!-- footer__locs__item -->
							<div class="footer__locs__item">
								<div class="footer__locs__item__icon"></div>
								<div class="footer__locs__item__text">
									<div class="footer__locs__item__title">ул.Карбышева, 70 до 90 человек</div>
									<a href="/" class="footer__locs__item__link">посмотреть зал</a>
								</div>
							</div>
							<!-- END footer__locs__item -->
							<!-- footer__locs__item -->
							<div class="footer__locs__item">
								<div class="footer__locs__item__icon"></div>
								<div class="footer__locs__item__text">
									<div class="footer__locs__item__title">ул.Адоратского, 39д до 180 человек</div>
									<a href="/" class="footer__locs__item__link">посмотреть зал</a>
								</div>
							</div>
							<!-- END footer__locs__item -->
							<!-- footer__locs__item -->
							<div class="footer__locs__item">
								<div class="footer__locs__item__icon"></div>
								<div class="footer__locs__item__text">
									<div class="footer__locs__item__title">ул.Габишева, 38 до 200 человек</div>
									<a href="/" class="footer__locs__item__link">посмотреть зал</a>
								</div>
							</div>
							<!-- END footer__locs__item -->
						</div>
					</div>
					<div class="footer__contacts">
						<div class="footer__title">Наши контакты</div>
						<div class="footer__contacts__items">
							<a href="/" class="footer__contacts__item">+7 (843) 246-48-28</a>
							<a href="/" class="footer__contacts__item">+7 (917) 882-88-28</a>
						</div>
					</div>
					<div class="footer__btn">
						<a href="/" class="btn">Написать нам WhatsApp</a>
					</div>
				</div>
				<div class="footer__bottom">
					<a href="/" class="footer__politics">Политика конфинденциальности</a>
					<div class="footer__copyright">Банкетный зал Valencia | Валенсия © 2021 |  Продвижение сайтов: linarseo.ru | Дизайн: iminn.ru  </div>
				</div>
			</div>
		</section>
		<!-- ================================================== -->
		<!-- ===================== END footer ================= -->
		<!-- ================================================== -->


		<!-- ================================================== -->
		<!-- ===================== mobile__nav ================= -->
		<!-- ================================================== -->
		<section class="mobile__nav" data-mobile-nav >
			<div class="mobile__nav__content">
				<div class="mobile__nav__header">
					<div class="mobile__nav__header__logo">
						<img style="aspect-ratio: 5 / 2;" src="img/logo__white.png" alt="">
					</div>
					<div class="btn white">Написать нам WhatsApp</div>
					<div class="mobile__nav__close" data-mobile-menu-hide>
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.43934 0.439554C1.02513 -0.146232 1.97487 -0.146233 2.56066 0.439554L13.8744 11.7533C14.4602 12.339 14.4602 13.2888 13.8744 13.8746C13.2886 14.4604 12.3388 14.4604 11.753 13.8746L0.43934 2.56087C-0.146447 1.97509 -0.146447 1.02534 0.43934 0.439554Z" fill="white"/>
							<path d="M0.439567 13.8744C-0.14622 13.2886 -0.14622 12.3388 0.439567 11.753L11.7533 0.43934C12.3391 -0.146447 13.2888 -0.146446 13.8746 0.43934C14.4604 1.02513 14.4604 1.97487 13.8746 2.56066L2.56089 13.8744C1.9751 14.4602 1.02535 14.4602 0.439567 13.8744Z" fill="white"/>
						</svg>
					</div>
				</div>
				<ul class="mobile__nav__phones">
					<li>
						<a href="tel:+7 (843) 246-48-28">+7 (843) 246-48-28</a>
					</li>
					<li>
						<a href="tel:+7 (843) 246-48-28">+7 (843) 246-48-28</a>
					</li>
				</ul>
				<ul class="mobile__nav__links">
					<li>
						<a href="/">Главная</a>
					</li>
					<li>
						<a href="/">Наши залы</a>
					</li>
					<li>
						<a href="/">О нас</a>
					</li>
					<li>
						<a href="/">Меню</a>
					</li>
					<li>
						<a href="/">Меропрития</a>
					</li>
					<li>
						<a href="/">Контакты</a>
					</li>
				</ul>
				<div class="mobile__nav__sec">
					<div class="mobile__nav__sec__title">Наши услуги</div>
					<ul class="mobile__nav__sec__links">
						<li><a href="/">Свадьбы</a></li>
						<li><a href="/">Юбилеи</a></li>
						<li><a href="/">Выпускные вечера</a></li>
						<li><a href="/">Никахи</a></li>
						<li><a href="/">Корпоративы</a></li>
						<li><a href="/">Детские выпускные</a></li>
						<li><a href="/">Выездная регистрация брака</a></li>
						<li><a href="/">Новогодние корпортаивы</a></li>
						<li><a href="/">Детские праздники</a></li>
						<li><a href="/">Кейтиринг</a></li>
						<li><a href="/">Конференц услуги</a></li>
						<li><a href="/">Организация мероприятий от Адо Я</a></li>
					</ul>
				</div>
				<div class="mobile__nav__sec">
					<div class="mobile__nav__sec__title">Где мы находимся</div>
					<ul class="mobile__nav__sec__items">
						<li class="mobile__nav__sec__item">
							<div class="mobile__nav__sec__item__icon" style="background-image: url(img/mobile__nav__loc.svg);"></div>
							<div class="mobile__nav__sec__item__text">
								<div class="mobile__nav__sec__item__title">ул.Карбышева,  70 до 90 человек</div>
								<div class="mobile__nav__sec__item__link">посмотрет зал</div>
							</div>
						</li>
						<li class="mobile__nav__sec__item">
							<div class="mobile__nav__sec__item__icon" style="background-image: url(img/mobile__nav__loc.svg);"></div>
							<div class="mobile__nav__sec__item__text">
								<div class="mobile__nav__sec__item__title">ул.Адоратского,  39д до 180 человек</div>
								<div class="mobile__nav__sec__item__link">посмотрет зал</div>
							</div>
						</li>
						<li class="mobile__nav__sec__item">
							<div class="mobile__nav__sec__item__icon" style="background-image: url(img/mobile__nav__loc.svg);"></div>
							<div class="mobile__nav__sec__item__text">
								<div class="mobile__nav__sec__item__title">ул.Габишева,  38 до 200 человек</div>
								<div class="mobile__nav__sec__item__link">посмотрет зал</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- ================================================== -->
		<!-- ===================== END mobile__nav ================= -->
		<!-- ================================================== -->


		<!-- ================================================== -->
		<!-- ===================== modals ================= -->
		<!-- ================================================== -->
		<div class="modal__wrapper" data-modal="1">
			<div class="modal">
				<!-- <div class="modal__img">
					<img src="img/modal__img-1.png" alt="">
				</div> -->
				<div class="modal__close" data-modal-close="1"></div>
				<div class="modal__content">
					<div class="modal__title">Обратный звонок</div>
					<div class="modal__desc">Оставьте заявку, что-бы получить консультацию</div>
					<form action="" class="modal__form" data-validate>
						<div class="modal__form__input">
							<input type="text" placeholder="Как вас зовут?">
						</div>
						<div class="modal__form__input">
							<input data-mask="phone" type="text" placeholder="Контактый телефон" name="phone">
						</div>
						<div class="modal__politics">
							<label for="modal__checkbox-1" class="checkbox">
								<input name="politics" id="modal__checkbox-1" type="checkbox" checked="">
								<div class="checkbox__box">
									<div class="checkbox__box__circle"></div>
								</div>
							</label>
							<div class="modal__politics__title">Оставляя заявку Вы соглашаетесь с <a href="/">политикой конфинденциальности</a></div>
						</div>
						<button class="btn">Отправить заявку</button>
					</form>
				</div>
				<div class="modal__success">
					<div class="modal__icon success">
						<!-- <img src="img/modal__success.svg" alt=""> -->
					</div>
					<div class="modal__title">Спасибо</div>
					<div class="modal__desc">Что оставили заявку, мы скоро с Вами свяжимся</div>
				</div>
				<div class="modal__error">
					<div class="modal__icon error">
					</div>
					<div class="modal__title">Ошибка</div>
					<div class="modal__desc">Попробуйте снова, введите правильные данные</div>
				</div>
			</div>
		</div>
		<!-- ================================================== -->
		<!-- ===================== END modals ================= -->
		<!-- ================================================== -->
		<!-- ================================================== -->
		<!-- ===================== modals ================= -->
		<!-- ================================================== -->
		<div class="modal__wrapper" data-modal="2">
			<div class="modal load">
				<div class="modal__img">
					<img src="img/modal__img-1.png" alt="">
				</div>
				<div class="modal__close" data-modal-close="1"></div>
				<div class="modal__content">
					<div class="modal__title">Обратный звонок</div>
					<div class="modal__desc">Оставьте заявку, что-бы получить консультацию</div>
					<form action="" class="modal__form" data-validate>
						<div class="modal__form__input">
							<input type="text" placeholder="Как вас зовут?">
						</div>
						<div class="modal__form__input">
							<input data-mask="phone" type="text" placeholder="Контактый телефон" name="phone">
						</div>
						<div class="modal__politics">
							<label for="modal__checkbox-2" class="checkbox">
								<input name="politics" id="modal__checkbox-2" type="checkbox" checked="">
								<div class="checkbox__box">
									<div class="checkbox__box__circle"></div>
								</div>
							</label>
							<div class="modal__politics__title">Оставляя заявку Вы соглашаетесь с <a href="/">политикой конфинденциальности</a></div>
						</div>
						<button class="btn">Отправить заявку</button>
					</form>
				</div>
				<div class="modal__success">
					<div class="modal__icon success">
						<!-- <img src="img/modal__success.svg" alt=""> -->
					</div>
					<div class="modal__title">Спасибо</div>
					<div class="modal__desc">Что оставили заявку, мы скоро с Вами свяжимся</div>
				</div>
				<div class="modal__error">
					<div class="modal__icon error">
					</div>
					<div class="modal__title">Ошибка</div>
					<div class="modal__desc">Попробуйте снова, введите правильные данные</div>
				</div>
			</div>
		</div>
		<!-- ================================================== -->
		<!-- ===================== END modals ================= -->
		<!-- ================================================== -->
	
		
		<link rel="stylesheet" href="css/main.css">
		<script async src="js/main.js"></script>

	</div>
</body>
</html>
