.aboutus {
  background-color: #fff;
  padding-top: 10rem;
  padding-bottom: 6rem;
  position: relative;
}
.aboutus .cloud.top {
  top: -20rem;
}
.aboutus .cloud.bottom {
  bottom: -20rem;
}
.aboutus__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7rem;
}
.aboutus__content * {
  position: relative;
}
.aboutus__content__parallax-1 {
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 45%;
  top: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.aboutus__content__parallax-1__scene {
  width: 100%;
}
.aboutus__content__parallax-1__scene img {
  width: 100%;
}
.aboutus__content__parallax-2 {
  width: 100%;
  position: absolute;
  z-index: 3;
  right: 45%;
  top: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.aboutus__content__parallax-2__scene {
  width: 100%;
}
.aboutus__content__parallax-2__scene img {
  width: 100%;
}
.aboutus__img {
  z-index: 2;
  position: relative;
}
.aboutus__img__img {
  width: 100%;
  z-index: 2;
}
.aboutus__opisanie {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1rem;
}
.aboutus__opisanie p {
  font-weight: normal;
  font-size: 1.6rem;
  font-weight: 300;
  color: #363636;
  line-height: 1.6;
}
.aboutus__social {
  margin-top: 2rem;
}
.aboutus__social__title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #363636;
}
.aboutus__social__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-columns: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1.5rem;
  margin-top: 1.5rem;
}
.aboutus__social__item {
  display: block;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 700px) {
  .aboutus__content {
    grid-template-columns: 1fr;
  }
  .aboutus__content .sec__title {
    text-align: center;
  }
}
