.navbar {
  position: relative;
  z-index: 1;
}
.navbar__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.navbar__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.navbar__links a {
  padding: 1.6rem 4rem;
  font-weight: normal;
  font-size: 1.4rem;
  color: #363636;
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  .navbar__links a {
    padding: 1.6rem 3rem;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
}
