@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKWyV-hs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem6YaGs126MiZpBA-UFUJ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKXGUehs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKWiUOhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKW-U-hs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UN8rs-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v11/ga6Kaw1J5X9T9RW6j9bNfFIWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v11/ga6Vaw1J5X9T9RW6j9bNfFIu0RWedA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v11/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v11/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKWyV-hs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem6YaGs126MiZpBA-UFUJ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKXGUehs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKWiUOhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/memnYaGs126MiZpBA-UFUKW-U-hs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UN_r8-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UN7rg-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v21/mem5YaGs126MiZpBA-UN8rs-VQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: #D6AF6D;
}
input[type="text"] {
  padding: 2rem 2.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #F5F5F5;
  font-weight: 500;
  font-size: 1.4rem;
  color: #363636;
}
input[type="text"]::-webkit-input-placeholder {
  color: #C4C4C4;
}
input[type="text"]::-moz-placeholder {
  color: #C4C4C4;
}
input[type="text"]:-ms-input-placeholder {
  color: #C4C4C4;
}
input[type="text"]::placeholder {
  color: #C4C4C4;
}
.global__wrapper {
  overflow-x: hidden;
}
.container {
  max-width: 131rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.btn {
  color: white;
  background: radial-gradient(47.41% 82.95% at 51.46% -4.55%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 0.01%, rgba(255, 255, 255, 0) 100%), #39B100;
  box-shadow: 0 2px 0 0 #39A904;
  border-radius: 10px;
  border: 0;
  padding: 1.4rem 2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  font-weight: 1.3rem;
}
.btn:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(255, 255, 255, 0.2)), to(#55c62100));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 10%, #55c62100 100%);
}
.btn:active {
  box-shadow: none;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}
.checkbox {
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + .checkbox__box .checkbox__box__circle {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  background-color: #39B100;
}
.checkbox__box {
  width: 2.2rem;
  height: 1.2rem;
  background: #F5F5F5;
  border-radius: 10rem;
  padding: 0.2rem;
}
.checkbox__box__circle {
  width: 0.8rem;
  min-width: 0.8rem;
  height: 0.8rem;
  background: #C4C4C4;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
label.error {
  font-size: 1rem;
  display: block;
  color: #D0141E;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  display: none !important;
}
input.error {
  background-color: #fef0f0;
}
.sec__title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  color: #363636;
}
.cloud {
  width: 720rem;
  height: 42.3rem;
  background-position: center;
  background-image: url(../img/cloud.png);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
  .container {
    padding: 0 2rem;
  }
}
.header {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(196, 196, 196, 0.1);
}
.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.header__logo img {
  height: 5.6rem;
  width: auto;
}
.header__loc__icon {
  width: 1.6rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 1rem;
  margin-top: 0.3rem;
}
.header__loc {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
.header__loc__title {
  font-weight: 600;
  font-size: 1.4rem;
  color: #363636;
}
.header__loc__desc {
  font-weight: normal;
  font-size: 1.1rem;
  color: #363636;
  margin-top: 0.3rem;
}
.header__loc__link {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0.3rem;
  display: inline-block;
}
.header__phones {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}
.header__phones__label {
  font-weight: normal;
  font-size: 1.2rem;
  color: #D6AF6D;
}
.header__phones__phone {
  font-weight: 600;
  color: #363636;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.header__phones__phone.big {
  font-weight: bold;
  font-size: 1.6rem;
}
.header__hamburger {
  height: 3.5rem;
  width: 3.6rem;
  background: radial-gradient(47.41% 82.95% at 51.46% -4.55%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 0.01%, rgba(255, 255, 255, 0) 100%), #39B100;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  display: none;
}
.header__hamburger:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/hamburger.svg);
}
@media screen and (max-width: 1100px) {
  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header__loc {
    display: none;
  }
  .header__hamburger {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .header__phones__label {
    display: none;
  }
  .header__phones__phone {
    display: none;
    margin-top: 0;
  }
  .header__phones__phone.big {
    display: block;
  }
  .header__logo img {
    height: 3rem;
  }
}
@media screen and (max-width: 330px) {
  .header__phones__phone.big {
    display: none;
  }
}
.navbar {
  position: relative;
  z-index: 1;
}
.navbar__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.navbar__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.navbar__links a {
  padding: 1.6rem 4rem;
  font-weight: normal;
  font-size: 1.4rem;
  color: #363636;
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  .navbar__links a {
    padding: 1.6rem 3rem;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
}
.hero {
  padding: 9rem 0 20rem 0;
  margin-top: -5.1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero__overlay.solid {
  background-color: rgba(255, 255, 255, 0.7);
}
.hero__overlay.linear {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(38.87%, rgba(255, 255, 255, 0.1))), url(1-37.jpg);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 38.87%), url(1-37.jpg);
}
.hero__overlay.radial {
  background: radial-gradient(44.61% 72.8% at 48.58% 47.77%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%), url(1-37.jpg);
}
.hero__content {
  position: relative;
}
.hero__title {
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  font-style: normal;
  color: #363636;
  font-size: 5.6rem;
  text-align: center;
}
.hero__title * {
  font-family: 'Noto Serif', serif;
}
.hero__title__gold {
  font-weight: 500;
  color: #D6AF6D;
}
.hero__desc {
  text-align: center;
  color: #363636;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 3rem;
  line-height: 1.7;
  max-width: 72.4rem;
}
.hero__form {
  background-color: #fff;
  border-radius: 2rem;
  padding: 3rem;
  max-width: 93.4rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.hero__form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.hero__form__btnwrapper .btn {
  padding: 2rem 2.5rem;
  width: 100%;
}
.hero__form__politics {
  grid-column: span 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}
.hero__form__politics .checkbox {
  margin-right: 1rem;
}
.hero__form__politics__title {
  font-weight: normal;
  font-size: 1.2rem;
  color: #C4C4C4;
}
.hero__form__politics__title a {
  color: #C4C4C4;
}
.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39B100;
  border-radius: 1rem;
  overflow: hidden;
}
.datepicker-top-left:before,
.datepicker-top-right:before {
  border-bottom-color: #39B100;
}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39B100;
}
.datepicker-panel > ul > li.highlighted {
  background-color: #edffe4;
}
.datepicker-panel > ul > li:hover {
  background-color: #edffe4;
}
.hero__paralax-1 {
  position: absolute;
  left: -22rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero__paralax-1__scene {
  width: 43.7rem;
}
.hero__paralax-1__scene img {
  width: 100%;
}
.hero__paralax-2 {
  position: absolute;
  right: -15rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero__paralax-2__scene {
  width: 40.9rem;
}
.hero__paralax-2__scene img {
  width: 100%;
}
.hero__form__inputwraper input {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .hero__paralax-1 {
    left: -26rem;
  }
  .hero__paralax-2 {
    right: -25rem;
  }
  .hero__form form {
    grid-template-columns: 1fr 1fr;
  }
  .hero__form__politics {
    grid-column: span 2;
  }
}
@media screen and (max-width: 900px) {
  .hero__paralax-2 {
    right: -29rem;
  }
}
@media screen and (max-width: 700px) {
  .hero__paralax-1__scene {
    width: 23.7rem;
  }
  .hero__paralax-1 {
    left: -16rem;
  }
  .hero__paralax-2__scene {
    width: 30.9rem;
  }
  .hero__paralax-2 {
    right: -20rem;
  }
  .hero {
    margin-top: 0;
  }
  .hero__title {
    font-size: 3.6rem;
  }
  .hero__desc {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .hero__form {
    padding: 2rem;
    margin-top: 3rem;
  }
  .hero__form form {
    grid-template-columns: 1fr;
  }
  .hero__form__politics {
    grid-column: span 1;
  }
}
@media screen and (max-width: 450px) {
  .hero__title {
    font-size: 2.4rem;
  }
  .hero {
    padding-top: 4rem;
  }
  .hero__desc {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 330px) {
  .hero__title {
    font-size: 2rem;
  }
  .hero {
    padding-top: 4rem;
  }
  .hero__desc {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
.aboutus {
  background-color: #fff;
  padding-top: 10rem;
  padding-bottom: 6rem;
  position: relative;
}
.aboutus .cloud.top {
  top: -20rem;
}
.aboutus .cloud.bottom {
  bottom: -20rem;
}
.aboutus__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7rem;
}
.aboutus__content * {
  position: relative;
}
.aboutus__content__parallax-1 {
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 45%;
  top: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.aboutus__content__parallax-1__scene {
  width: 100%;
}
.aboutus__content__parallax-1__scene img {
  width: 100%;
}
.aboutus__content__parallax-2 {
  width: 100%;
  position: absolute;
  z-index: 3;
  right: 45%;
  top: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}
.aboutus__content__parallax-2__scene {
  width: 100%;
}
.aboutus__content__parallax-2__scene img {
  width: 100%;
}
.aboutus__img {
  z-index: 2;
  position: relative;
}
.aboutus__img__img {
  width: 100%;
  z-index: 2;
}
.aboutus__opisanie {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1rem;
}
.aboutus__opisanie p {
  font-weight: normal;
  font-size: 1.6rem;
  font-weight: 300;
  color: #363636;
  line-height: 1.6;
}
.aboutus__social {
  margin-top: 2rem;
}
.aboutus__social__title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #363636;
}
.aboutus__social__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-columns: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 1.5rem;
  margin-top: 1.5rem;
}
.aboutus__social__item {
  display: block;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (max-width: 700px) {
  .aboutus__content {
    grid-template-columns: 1fr;
  }
  .aboutus__content .sec__title {
    text-align: center;
  }
}
