.clients__content {
  position: relative;
}

.clients__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  align-items: center;
  margin-top: 6rem;
}

.clients__item {
  max-width: 100%;
}

// ============================================================ //
// ========================== MEDIA ========================== //
// ============================================================ //

@media screen and (max-width: 700px) {
  .clients__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .clients__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
// ============================================================ //
// ========================== END MEDIA ======================= //
// ============================================================ //
