{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- ================================================== -->
<!-- ===================== hero ===================== -->
<!-- ================================================== -->
<section class="hero cloud__bottom" style="background-image: url(img/hero-3.jpeg);">
    <div class="hero__overlay solid"></div>
    <div class="hero__overlay linear"></div>
    <div class="hero__overlay radial"></div>
    <div class="container">
        <div class="hero__content">
            <ul class="hero__bredcrumbs">
                <li><a href="/">Главная</a></li>
                <img class="hero__bredcrumbs__separator" src="img/bredcrumbs.svg" alt="">
                <li>Банкетный зал для свадьбы</li>
            </ul>
            <h1 class="hero__title">
                Банкетный зал для<br>
                <span class="hero__title__gold">свадьбы</span>
            </h1>
            <p class="hero__desc">Многим кажется, что проведение банкетов – это сложное и времязатратное дело. 
                Спешим развеять миф! Заказав торжество у нас, вы поймете, 
                что праздники – это не головная боль, а радость.</p>
            <div class="hero__form">
                <form data-form-validate>
                    <div class="hero__form__inputwraper">
                        <input name="date" type="text" placeholder="Дата" data-datepicker  data-mask="date">
                    </div>
                    <div class="hero__form__inputwraper">
                        <input name="phone" type="text" placeholder="Введите телефон" data-mask="phone">
                    </div>
                    <div class="hero__form__inputwraper">
                        <input type="text" placeholder="Введите имя">
                    </div>
                    <div class="hero__form__btnwrapper">
                        <button class="btn">Уточнить дату</button>
                    </div>
                    <div class="hero__form__politics">
                        <label for="checkbox-1" class="checkbox">
                            <input name="politics" id="checkbox-1" type="checkbox" checked>
                            <div class="checkbox__box">
                                <div class="checkbox__box__circle"></div>
                            </div>
                        </label>
                        <div class="hero__form__politics__title">Оставляя заявку Вы соглашаетесь с <a href="">политикой конфинденциальности</a></div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END hero =================== -->
<!-- ================================================== -->



<!-- ================================================== -->
<!-- ===================== aboutbanket =================== -->
<!-- ================================================== -->
<section class="aboutus sec white">
    <!-- <div class="cloud top"></div>
    <div class="cloud bottom"></div> -->
    <div class="container">
        <div class="aboutus__content">
            <div class="aboutus__img">
                <div class="aboutus__content__parallax-1">
                    <div class="aboutus__content__parallax-1__scene" data-paralax-scene>
                        <img src="img/aboutus__content__parallax-1__img-2.png" alt="" data-depth="1"> 
                    </div>
                </div>
                <div class="aboutus__content__parallax-2">
                    <div class="aboutus__content__parallax-2__scene" data-paralax-scene>
                        <!-- <img src="img/aboutus__content__parallax-2__img-2.png" alt="" data-depth="1"> -->
                        <img src="img/aboutus__content__parallax-1__img-1.png" alt="" data-depth="0.5">   
                    </div>
                </div>
                <img class="aboutus__img__img" src="img/aboutus.png" alt="">
            </div>
            <div class="aboutus__text">
                <h2 class="sec__title">О банкетном зале</h2>
                <div class="aboutus__opisanie">
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum</p>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </p>
                </div>
                <div class="aboutus__social">
                    <div class="aboutus__social__title">Мы в Социальных сетях</div>
                    <div class="aboutus__social__items">
                        <a href="" class="aboutus__social__item" style="background-image: url(img/vk.svg);"></a>
                        <a href="" class="aboutus__social__item" style="background-image: url(img/fb.svg);"></a>
                        <a href="" class="aboutus__social__item" style="background-image: url(img/yt.svg);"></a>
                        <a href="" class="aboutus__social__item" style="background-image: url(img/ig.svg);"></a>
                        <a href="" class="aboutus__social__item" style="background-image: url(img/tt.svg);"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END aboutbanket =================== -->
<!-- ================================================== -->



<!-- ================================================== -->
<!-- ===================== preims =================== -->
<!-- ================================================== -->
<section class="preims sec goldbg cloud__top cloud__bottom">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/preims__parralax-1__img-1.png" alt="" class="parallax__img" data-depth="0.5">
        </div>
    </div>
    <div class="container">
        <div class="preims__content">
            <div class="preims__panel">
                <div class="preims__panel__text">
                    <div class="preims__panel__title">Ответьте на несколько вопросов</div>
                    <div class="preims__panel__desc">и мы организуем незабываемое мероприятие под Ваши нужны!</div>
                </div>
                <button class="btn white">Получить выгодное предложение</button>
            </div>
            <h2 class="sec__title center"><span class="gold">Почему стоит</span> выбрать нас</h2>
            <div class="preims__items">
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-1.png);"></div>
                    <div class="preims__item__title"> Работаем с 2013 года</div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-2.png);"></div>
                    <div class="preims__item__title">Ресторанный сервис</div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-3.png);"></div>
                    <div class="preims__item__title">Находимся в нескольких районах</div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-4.png);"></div>
                    <div class="preims__item__title">Татарская и европейская кухня</div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-5.png);"></div>
                    <div class="preims__item__title">Собственная парковка</div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-6.png);"></div>
                    <div class="preims__item__title">Личный менеджер</div>
                </div>
                <div class="preims__item">
                    <div class="preims__item__icon" style="background-image: url(img/preims-7.png);"></div>
                    <div class="preims__item__title">Консультация 24 на 7</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END preims =================== -->
<!-- ================================================== -->



<!-- ================================================== -->
<!-- ===================== banketmenusec =================== -->
<!-- ================================================== -->
<section class="banketmenusec sec white">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene="">
            <img src="img/banketmenusec__parallax-1.png" alt="" class="parallax__img" data-depth="1">
        </div>
    </div>
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene="">
            <img src="img/banketmenusec__parallax-2.png" alt="" class="parallax__img" data-depth="1.5">
        </div>
    </div>
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene="">
            <img src="img/banketmenusec__parallax-3.png" alt="" class="parallax__img" data-depth="0.5">
        </div>
    </div>
    <div class="container">
        <h2 class="sec__title center">Банкетное <span class="gold">меню</span></h2>
        <div class="banketmenusec__content">
            <div class="banketmenusec__img">
                <img src="img/banketmenusec.png" alt="">
            </div>
            <div class="banketmenusec__text">
                <div class="banketmenusec__text__opisanie">
                    С меню банкетного зала Вы можете ознакомиться на нашем сайте. Мы готовим , первые, вторые блюда, холодные, горячие закуски, а также салаты, гарниры, соусы. Маленький бонус: у нас Вы можете заказать свое блюдо. Это удобно – если вдруг Вы не увидите в меню любимого салата или закусок, мы пойдем Вам на встречу и приготовим их.
                </div>
                <div class="banketmenusec__text__price">Средней чек на человека <span class="gold">от 1600 рублей.</span></div>
                <div class="banketmenusec__text__btn">
                    <a href="" class="btn">Онлайн калькулятор банкета</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END banketmenusec =================== -->
<!-- ================================================== -->



<!-- ================================================== -->
<!-- ===================== threezals =================== -->
<!-- ================================================== -->
<section class="threezals sec goldbg cloud__top">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/threezals__parallax-1.png" alt="" class="parallax__img" data-depth="0.5">
            <img src="img/threezals__parallax-2.png" alt="" class="parallax__img" data-depth="1">
        </div>
    </div>
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/threezals__parallax-3.png" alt="" class="parallax__img" data-depth="0.5">
            <img src="img/threezals__parallax-4.png" alt="" class="parallax__img" data-depth="1">
        </div>
    </div>
    <div class="container">
        <div class="threezals__content">
            <h2 class="sec__title center">Три банкетных зала вместимостью от <br> <span class="gold">10 до 200 человек</span></h2>
            <div class="threezals__items">
                <!-- threezals__item -->
                <div class="threezals__item">
                    <div class="threezals__item__img" style="background-image: url(img/threezals-1.jpeg);"></div>
                    <div class="threezals__item__text">
                        <div class="threezals__item__title">Банкетный зал на Карбышева</div>
                        <ul class="threezals__item__options">
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-1.svg);"></div>
                                <div class="threezals__item__option__title">Вмещает до 90 человек</div>
                            </li>
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-2.svg);"></div>
                                <div class="threezals__item__option__title">Приволжский район</div>
                            </li>
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-3.svg);"></div>
                                <div class="threezals__item__option__title">Акция этого месяца: Свадебный торт в подарок</div>
                            </li>
                        </ul>
                        <div class="threezals__item__options__btn">
                            <a href="/" class="btn">Смотреть зал</a>
                        </div>
                    </div>
                </div>
                <!-- END threezals__item -->
                <!-- threezals__item -->
                <div class="threezals__item">
                    <div class="threezals__item__img" style="background-image: url(img/threezals-2.jpeg);"></div>
                    <div class="threezals__item__text">
                        <div class="threezals__item__title">Банкетный зал на Карбышева</div>
                        <ul class="threezals__item__options">
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-1.svg);"></div>
                                <div class="threezals__item__option__title">Вмещает до 90 человек</div>
                            </li>
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-2.svg);"></div>
                                <div class="threezals__item__option__title">Приволжский район</div>
                            </li>
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-3.svg);"></div>
                                <div class="threezals__item__option__title">Акция этого месяца: Свадебный торт в подарок</div>
                            </li>
                        </ul>
                        <div class="threezals__item__options__btn">
                            <a href="/" class="btn">Смотреть зал</a>
                        </div>
                    </div>
                </div>
                <!-- END threezals__item -->
                <!-- threezals__item -->
                <div class="threezals__item">
                    <div class="threezals__item__img" style="background-image: url(img/threezals-3.jpeg);"></div>
                    <div class="threezals__item__text">
                        <div class="threezals__item__title">Банкетный зал на Карбышева</div>
                        <ul class="threezals__item__options">
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-1.svg);"></div>
                                <div class="threezals__item__option__title">Вмещает до 90 человек</div>
                            </li>
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-2.svg);"></div>
                                <div class="threezals__item__option__title">Приволжский район</div>
                            </li>
                            <li class="threezals__item__option">
                                <div class="threezals__item__option__icon" style="background-image: url(img/threezals__icon-3.svg);"></div>
                                <div class="threezals__item__option__title">Акция этого месяца: Свадебный торт в подарок</div>
                            </li>
                        </ul>
                        <div class="threezals__item__options__btn">
                            <a href="/" class="btn">Смотреть зал</a>
                        </div>
                    </div>
                </div>
                <!-- END threezals__item -->
            </div>
            <div class="threezals__tags">
                <div class="threezals__tags__label">Банкетный зал на :</div>
                <div class="threezals__tags__items">
                    <a href="/" class="threezals__tags__item">20</a>
                    <a href="/" class="threezals__tags__item">30</a>
                    <a href="/" class="threezals__tags__item">40</a>
                    <a href="/" class="threezals__tags__item">50</a>
                    <a href="/" class="threezals__tags__item">60</a>
                    <a href="/" class="threezals__tags__item">70</a>
                    <a href="/" class="threezals__tags__item">80</a>
                    <a href="/" class="threezals__tags__item">90</a>
                    <a href="/" class="threezals__tags__item">100</a>
                    <a href="/" class="threezals__tags__item">150</a>
                </div>
                <div class="threezals__tags__label">человек</div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END threezals =================== -->
<!-- ================================================== -->



<!-- ================================================= -->
<!-- ===================== stock =============== -->
<!-- ================================================== -->
<section class="stock sec goldbg cloud__bottom">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/stock__parallax-1.png" alt="" class="parallax__img" data-depth="0.5">
            <img src="img/stock__parallax-2.png" alt="" class="parallax__img" data-depth="1">
        </div>
    </div>
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/stock__parallax-3.png" alt="" class="parallax__img" data-depth="0.5">
        </div>
    </div>
    <div class="container">
        <div class="stock__content">
            <h2 class="sec__title center"><span class="gold">Акция</span> этого месяца</h2>
            <div class="stock__panel">
                <div class="stock__panel__text">
                    <div class="stock__panel__title">Минимальный депозит снижен до 50.000 руб.</div>
                    <div class="stock__panel__desc">
                        При заказе банкета в самые ходовые банкетные дни недели – пятница и суббота,   * депозит – минимальная сумма заказа по меню
                    </div>
                    <img src="img/stock__panel.png" alt="" class="stock__panel__img__mobile">
                    <div class="stock__panel__text__bottom">
                        <button class="btn white">Заказать обратный звонок</button>
                        <div class="stock__panel__countdown">
                            <div class="stock__panel__countdown__label">До начала акции:</div>
                            <div class="stock__panel__countdown__items">
                                <div class="stock__panel__countdown__item">
                                    <div class="stock__panel__countdown__item__value">00</div>
                                    <div class="stock__panel__countdown__item__name">д</div>
                                </div>
                                <div class="stock__panel__countdown__item">
                                    <div class="stock__panel__countdown__item__value">00</div>
                                    <div class="stock__panel__countdown__item__name">ч</div>
                                </div>
                                <div class="stock__panel__countdown__item">
                                    <div class="stock__panel__countdown__item__value">00</div>
                                    <div class="stock__panel__countdown__item__name">мин</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stock__panel__img">
                    <img src="img/stock__panel.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================= -->
<!-- ===================== END stock =============== -->
<!-- ================================================== -->




<!-- ================================================= -->
<!-- ===================== steps =============== -->
<!-- ================================================== -->
<section class="steps sec white">
    <div class="container">
        <div class="steps__content">
            <h2 class="sec__title center"><span class="gold">Как мы</span> работаем</h2>
            <div class="steps__items">
                <!-- steps__item -->
                <div class="steps__item">
                    <img src="img/steps-1.png" alt="" class="steps__item__img">
                    <div class="steps__item__title">Звонок</div>
                    <div class="steps__item__desc">Вы оставляете звонок, и мы перезваниваем Вам</div>
                </div>
                <!-- END steps__item -->
                <!-- steps__item -->
                <div class="steps__item">
                    <img src="img/steps-2.png" alt="" class="steps__item__img">
                    <div class="steps__item__title">Звонок</div>
                    <div class="steps__item__desc">Вы оставляете звонок, и мы перезваниваем Вам</div>
                </div>
                <!-- END steps__item -->
                <!-- steps__item -->
                <div class="steps__item">
                    <img src="img/steps-3.png" alt="" class="steps__item__img">
                    <div class="steps__item__title">Звонок</div>
                    <div class="steps__item__desc">Вы оставляете звонок, и мы перезваниваем Вам</div>
                </div>
                <!-- END steps__item -->
                <!-- steps__item -->
                <div class="steps__item">
                    <img src="img/steps-4.png" alt="" class="steps__item__img">
                    <div class="steps__item__title">Звонок</div>
                    <div class="steps__item__desc">Вы оставляете звонок, и мы перезваниваем Вам</div>
                </div>
                <!-- END steps__item -->
                <!-- steps__item -->
                <div class="steps__item">
                    <img src="img/steps-5.png" alt="" class="steps__item__img">
                    <div class="steps__item__title">Звонок</div>
                    <div class="steps__item__desc">Вы оставляете звонок, и мы перезваниваем Вам</div>
                </div>
                <!-- END steps__item -->
                <!-- steps__item -->
                <div class="steps__item">
                    <img src="img/steps-6.png" alt="" class="steps__item__img">
                    <div class="steps__item__title">Звонок</div>
                    <div class="steps__item__desc">Вы оставляете звонок, и мы перезваниваем Вам</div>
                </div>
                <!-- END steps__item -->
            </div>
        </div>
    </div>
</section>
<!-- ================================================= -->
<!-- ===================== END steps =============== -->
<!-- ================================================== -->


<!-- ================================================== -->
<!-- ===================== interior =================== -->
<!-- ================================================== -->
<section class="interior sec goldbg cloud__top">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/preims__parralax-1__img-1.png" alt="" class="parallax__img" data-depth="0.5">
        </div>
    </div>
    <div class="container">
        <h2 class="sec__title center">Свадьбы которые <span class="gold">мы провели</span></h2>
        <div class="interior__content">
            <div class="parallax">
                <div class="parallax__scene" data-paralax-scene>
                    <img src="img/interior__parallax-2.png" alt="" class="parallax__img" data-depth="0.5">
                </div>
            </div>
            <div class="parallax">
                <div class="parallax__scene" data-paralax-scene>
                    <img src="img/interior__parallax-3.png" alt="" class="parallax__img" data-depth="1">
                </div>
            </div>
            
            <div class="interior__items">
                <!-- interior__item -->
                <a data-src="img/interior-1.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-1.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-2.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-2.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-3.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-3.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-1.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-1.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-1.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-1.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-2.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-2.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-3.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-3.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
                <!-- interior__item -->
                <a data-src="img/interior-1.jpeg" data-fancybox="interior" class="interior__item">
                    <div class="interior__item__img" style="background-image: url(img/interior-1.jpeg);"></div>
                    <div class="interior__item__overlay">
                        <img class="interior__item__zoom" src="img/interior__zoom.svg" alt="">
                    </div>
                </a>
                <!-- END interior__item -->
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END interior =============== -->
<!-- ================================================== -->




<!-- ================================================== -->
<!-- ===================== managers =================== -->
<!-- ================================================== -->
<section class="managers sec goldbg cloud__top">
    <div class="container">
        <div class="managers__content">
            <h2 class="sec__title center">Управляющие <span class="gold">залов</span></h2>
            <div class="managers__items">
                <div class="managers__item">
                    <div class="managers__item__img" style="background-image: url(img/managers-1.png);"></div>
                    <div class="managers__item__name">Александра Попова</div>
                    <div class="managers__item__role">Менеджер по организации мероприятий</div>
                </div>
                <div class="managers__item">
                    <div class="managers__item__img" style="background-image: url(img/managers-2.png);"></div>
                    <div class="managers__item__name">Александра Попова</div>
                    <div class="managers__item__role">Менеджер по организации мероприятий</div>
                </div>
                <div class="managers__item">
                    <div class="managers__item__img" style="background-image: url(img/managers-3.png);"></div>
                    <div class="managers__item__name">Александра Попова</div>
                    <div class="managers__item__role">Менеджер по организации мероприятий</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END managers =================== -->
<!-- ================================================== -->



<!-- ================================================== -->
<!-- ===================== clients =================== -->
<!-- ================================================== -->
<section class="clients sec white">
    <div class="container">
        <div class="clients__content">
            <h2 class="sec__title center">Компании которые <span class="gold">нам доверяют</span></h2>
            <div class="clients__items">
                <img class="clients__item" src="img/clients-1.png" alt="">
                <img class="clients__item" src="img/clients-2.png" alt="">
                <img class="clients__item" src="img/clients-3.png" alt="">
                <img class="clients__item" src="img/clients-4.png" alt="">
                <img class="clients__item" src="img/clients-5.png" alt="">
                <img class="clients__item" src="img/clients-6.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END clients =================== -->
<!-- ================================================== -->




<!-- ================================================== -->
<!-- ===================== reviews =================== -->
<!-- ================================================== -->
<section class="reviews sec goldbg cloud__top cloud__bottom">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/events__parallax-1.png" alt="" class="parallax__img" data-depth="0.5">
        </div>
    </div>
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/events-2.png" alt="" class="parallax__img" data-depth="1">
            <img src="img/events-3.png" alt="" class="parallax__img" data-depth="0.5">
        </div>
    </div>
    <div class="container">
        <div class="reviews__content">
            <h2 class="sec__title center">Отзывы наших <span class="gold">гостей</span></h2>
            <div class="reviews__slider owl-carousel">
                <!-- reviews__slider__item -->
                <div class="reviews__slider__item">
                    <div class="reviews__slider__item__img" style="background-image: url(img/reviews.jpeg);"></div>
                    <div class="reviews__slider__item__text">
                        <div class="reviews__slider__item__peopledata">
                            <div class="reviews__slider__item__peopledata__avatar" style="background-image: url(img/reviews.jpeg);"></div>
                            <div class="reviews__slider__item__peopledata__text">
                                <div class="reviews__slider__item__peopledata__name">Екатерина Герасимова</div>
                                <div class="reviews__slider__item__peopledata__date">08.06.2019</div>
                            </div>
                        </div>
                        <div class="reviews__slider__item__text__otziv">
                            Отмечали 31 мая юбилей папе. Все очень понравилось. Зал большой и очень уютный. <br><br>
                            Угощение все свежее и очень вкусное за это спасибо повару. И ещё нам преподнесли в подарок каждому приглашенному шашлычки  из куриной грудки, которые таяли во рту. <br><br> 
                            Девочки официантки справлялись со своими обязанностями отлично. И отдельное спасибо администраторам Ильнур и Альберту. 
                            Спасибо большое. Все было на высшем уровне.
                        </div>
                    </div>
                </div>
                <!-- END reviews__slider__item -->
                <!-- reviews__slider__item -->
                <div class="reviews__slider__item">
                    <div class="reviews__slider__item__img" style="background-image: url(img/reviews.jpeg);"></div>
                    <div class="reviews__slider__item__text">
                        <div class="reviews__slider__item__peopledata">
                            <div class="reviews__slider__item__peopledata__avatar" style="background-image: url(img/reviews.jpeg);"></div>
                            <div class="reviews__slider__item__peopledata__text">
                                <div class="reviews__slider__item__peopledata__name">Екатерина Герасимова</div>
                                <div class="reviews__slider__item__peopledata__date">08.06.2019</div>
                            </div>
                        </div>
                        <div class="reviews__slider__item__text__otziv">
                            Отмечали 31 мая юбилей папе. Все очень понравилось. Зал большой и очень уютный. <br><br>
                            Угощение все свежее и очень вкусное за это спасибо повару. И ещё нам преподнесли в подарок каждому приглашенному шашлычки  из куриной грудки, которые таяли во рту. <br><br> 
                            Девочки официантки справлялись со своими обязанностями отлично. И отдельное спасибо администраторам Ильнур и Альберту. 
                            Спасибо большое. Все было на высшем уровне.
                        </div>
                    </div>
                </div>
                <!-- END reviews__slider__item -->
                <!-- reviews__slider__item -->
                <div class="reviews__slider__item">
                    <div class="reviews__slider__item__img" style="background-image: url(img/reviews.jpeg);"></div>
                    <div class="reviews__slider__item__text">
                        <div class="reviews__slider__item__peopledata">
                            <div class="reviews__slider__item__peopledata__avatar" style="background-image: url(img/reviews.jpeg);"></div>
                            <div class="reviews__slider__item__peopledata__text">
                                <div class="reviews__slider__item__peopledata__name">Екатерина Герасимова</div>
                                <div class="reviews__slider__item__peopledata__date">08.06.2019</div>
                            </div>
                        </div>
                        <div class="reviews__slider__item__text__otziv">
                            Отмечали 31 мая юбилей папе. Все очень понравилось. Зал большой и очень уютный. <br><br>
                            Угощение все свежее и очень вкусное за это спасибо повару. И ещё нам преподнесли в подарок каждому приглашенному шашлычки  из куриной грудки, которые таяли во рту. <br><br> 
                            Девочки официантки справлялись со своими обязанностями отлично. И отдельное спасибо администраторам Ильнур и Альберту. 
                            Спасибо большое. Все было на высшем уровне.
                        </div>
                    </div>
                </div>
                <!-- END reviews__slider__item -->
            </div>
            <div class="reviews__slider__dots"></div>
            <div class="reviews__slider__btn">
                <a href="" class="btn">Читать все отзывы</a>
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END reviews =================== -->
<!-- ================================================== -->



<!-- ================================================== -->
<!-- ===================== faq =================== -->
<!-- ================================================== -->
<section class="faq sec white">
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/faq__parallax-1.png" alt="" class="parallax__img" data-depth="0.5">
            <img src="img/faq__parallax-2.png" alt="" class="parallax__img" data-depth="1">
        </div>
    </div>
    <div class="parallax">
        <div class="parallax__scene" data-paralax-scene>
            <img src="img/faq__parallax-3.png" alt="" class="parallax__img" data-depth="0.5">
            <img src="img/faq__parallax-4.png" alt="" class="parallax__img" data-depth="1">
        </div>
    </div>
    <div class="container">
        <div class="faq__content">
            <h2 class="sec__title center"><span class="gold">Ответы на</span> часто задаваемые <span class="gold">вопросы</span></h2>
            <div class="faq__items">
                <!-- faq__item -->
                <div class="faq__item" >
                    <div class="faq__item__head" data-accordion-link="1">
                        <div class="faq__item__head__title">Как заказать?</div>
                        <div class="faq__item__head__icon"></div>
                    </div>
                    <div class="faq__item__text" data-accordion-text="1">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item" >
                    <div class="faq__item__head" data-accordion-link="2">
                        <div class="faq__item__head__title">Как получить товар?</div>
                        <div class="faq__item__head__icon"></div>
                    </div>
                    <div class="faq__item__text" data-accordion-text="2">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item" >
                    <div class="faq__item__head" data-accordion-link="3">
                        <div class="faq__item__head__title">Сколько держит зарядку от аккумулятора?</div>
                        <div class="faq__item__head__icon"></div>
                    </div>
                    <div class="faq__item__text" data-accordion-text="3">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item" >
                    <div class="faq__item__head" data-accordion-link="4">
                        <div class="faq__item__head__title">Есть ли гарантия?</div>
                        <div class="faq__item__head__icon"></div>
                    </div>
                    <div class="faq__item__text" data-accordion-text="4">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item" >
                    <div class="faq__item__head" data-accordion-link="5">
                        <div class="faq__item__head__title">Сколько держит зарядку от аккумулятора?</div>
                        <div class="faq__item__head__icon"></div>
                    </div>
                    <div class="faq__item__text" data-accordion-text="5">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item" >
                    <div class="faq__item__head" data-accordion-link="6">
                        <div class="faq__item__head__title">Есть ли гарантия?</div>
                        <div class="faq__item__head__icon"></div>
                    </div>
                    <div class="faq__item__text" data-accordion-text="6">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
            </div>
        </div>
    </div>
</section>
<!-- ================================================== -->
<!-- ===================== END faq =================== -->
<!-- ================================================== -->

{% endblock %}